fastapi==0.111.0
uvicorn[standard]==0.30.1
sqlalchemy==2.0.32
asyncpg==0.29.0
alembic==1.13.2
passlib[argon2]==1.7.4
argon2-cffi==23.1.0
python-jose[cryptography]==3.3.0
pydantic-settings==2.3.4
python-multipart==0.0.9
aiofiles==23.2.1
email-validator==2.2.0
PyPDF2==3.0.1
